<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <v-app light>
    <v-navigation-drawer v-model="drawer" clipped fixed app>
      <v-list dense>
        <v-list-item link to="/">
          <v-list-item-icon>
            <v-icon v-text="'fas fa-home'"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="'Home'"></v-list-item-title>
        </v-list-item>
        <v-list-item link to="/readme">
          <v-list-item-icon>
            <v-icon v-text="'far fa-file-alt'"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="'Readme'"></v-list-item-title>
        </v-list-item>
        <v-list-item link to="/wiki">
          <v-list-item-icon>
            <v-icon v-text="'fas fa-book'"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="'Wiki'"></v-list-item-title>
        </v-list-item>
        <v-list-item link to="/reference">
          <v-list-item-icon>
            <v-icon v-text="'fas fa-code'"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="'Reference'"></v-list-item-title>
        </v-list-item>

        <v-list-group prepend-icon="fas fa-desktop">
          <template v-slot:activator>
            <v-list-item-title>Platforms</v-list-item-title>
          </template>

          <v-list-group
            v-for="platform in platforms"
            :key="platform.title"
            no-action
            sub-group
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>{{ platform.title }}</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="page in platform.pages"
              :key="page.to"
              link
              :to="page.to"
            >
              <v-list-item-title v-text="page.title"></v-list-item-title>
              <v-list-item-icon>
                <v-icon v-text="page.icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-group>

        <v-list-group prepend-icon="fas fa-plug">
          <template v-slot:activator>
            <v-list-item-title>Plugins</v-list-item-title>
          </template>

          <v-list-group
            v-for="plugin in plugins"
            :key="plugin.title"
            no-action
            sub-group
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>{{ plugin.title }}</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="page in plugin.pages"
              :key="page.to"
              link
              :to="page.to"
            >
              <v-list-item-title v-text="page.title"></v-list-item-title>
              <v-list-item-icon>
                <v-icon v-text="page.icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-group>

        <v-list-group prepend-icon="fas fa-list-ol">
          <template v-slot:activator>
            <v-list-item-title>Tutorials</v-list-item-title>
          </template>

          <v-list-group
            v-for="tutorialSection in tutorials"
            :key="tutorialSection.title"
            no-action
            sub-group
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>{{
                  tutorialSection.title
                }}</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item
              v-for="tutorial in tutorialSection.pages"
              :key="tutorial.to"
              link
              :to="tutorial.to"
            >
              <v-list-item-title v-text="tutorial.title"></v-list-item-title>
              <v-list-item-icon>
                <v-icon v-text="tutorial.icon"></v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list-group>
        </v-list-group>

        <v-list-item link to="/donations">
          <v-list-item-icon>
            <v-icon v-text="'fas fa-hand-holding-usd'"></v-icon>
          </v-list-item-icon>
          <v-list-item-title v-text="'Donations'"></v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      clipped-left
      dense
      fixed
      app
      :extended="$vuetify.breakpoint.smAndDown && tabs.length !== 0"
      :extension-height="tabs.length !== 0 ? '40' : '0'"
      dark
      color="#02191f"
      src="https://picsum.photos/id/1019/1920/1080?random&blur"
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn
        v-show="!showSearch || $vuetify.breakpoint.mdAndUp"
        text
        exact
        to="/"
        class="website-title"
      >
        Troll Engine
      </v-btn>
      <v-tabs
        v-show="$vuetify.breakpoint.mdAndUp && tabs.length !== 0"
        align-with-title
        background-color="transparent"
        show-arrows
      >
        <v-tab>Tab 1</v-tab>
        <v-tab>Tab 2</v-tab>
        <v-tab>Tab 3</v-tab>
      </v-tabs>
      <v-spacer v-show="!showSearch" />
      <v-combobox
        v-show="showSearch"
        v-model="select"
        full-width
        clearable
        flat
        dense
        :items="items"
        single-line
        hide-details
        append-icon=""
        label="Search..."
      ></v-combobox>
      <v-btn icon small @click="showSearch = !showSearch">
        <v-icon size="medium">fas fa-search</v-icon>
      </v-btn>

      <template
        v-if="$vuetify.breakpoint.smAndDown && tabs.length !== 0"
        v-slot:extension
      >
        <v-tabs align-with-title background-color="transparent" show-arrows>
          <v-tab>Tab 1</v-tab>
          <v-tab>Tab 2</v-tab>
          <v-tab>Tab 3</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import logo from '~/assets/project-logo.png';
export default {
  data() {
    return {
      logo,
      drawer: this.$vuetify.breakpoint.lgAndUp,
      select: '',
      items: [''],
      showSearch: false,
      tabs: [],
      platforms: [
        {
          title: 'Android',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/android/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/android/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/android/reference'
            }
          ]
        },
        {
          title: 'Browser',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/browser/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/browser/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/browser/reference'
            }
          ]
        },
        {
          title: 'Linux',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/linux/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/linux/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/linux/reference'
            }
          ]
        },
        {
          title: 'iOS',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/ios/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/ios/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/ios/reference'
            }
          ]
        },
        {
          title: 'Mac',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/mac/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/mac/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/mac/reference'
            }
          ]
        },
        {
          title: 'Windows',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/platforms/windows/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/platforms/windows/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/platforms/windows/reference'
            }
          ]
        }
      ],
      plugins: [
        {
          title: 'Ogre3D',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/plugins/ogre3d/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/plugins/ogre3d/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/plugins/ogre3d/reference'
            }
          ]
        },
        {
          title: 'Lua',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Readme',
              to: '/plugins/lua/readme'
            },
            {
              icon: 'fas fa-book',
              title: 'Wiki',
              to: '/plugins/lua/wiki'
            },
            {
              icon: 'fas fa-code',
              title: 'Reference',
              to: '/plugins/lua/reference'
            }
          ]
        }
      ],
      tutorials: [
        {
          title: 'Ogre3D 1.12',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Getting started',
              to: '/tutorials/ogre3d-1.12/getting-started'
            }
          ]
        },
        {
          title: 'Lua',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Getting started',
              to: '/tutorials/lua/getting-started'
            }
          ]
        },
        {
          title: 'Nuxt',
          pages: [
            {
              icon: 'far fa-file-alt',
              title: 'Getting started',
              to: '/tutorials/nuxt/getting-started'
            }
          ]
        }
      ]
    };
  }
};
</script>

<style>
.website-title:before {
  background: transparent !important;
  background-color: transparent !important;
}
</style>
