<template>
  <v-layout column justify-center align-center>
    <v-flex>
      <h1>Donations</h1>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Donations'
    };
  }
};
</script>
