<template>
  <v-layout column justify-center align-center>
    <v-flex class="text-center">
      <h1>Home</h1>
      <h2>Troll Engine is still in its infancy and is not ready to be used!</h2>
      <h2>Come back later!</h2>
      <h3>
        You can follow us on twitter for updates on its progress:
        <a href="https://twitter.com/engine_troll" target="_blank"
          >https://twitter.com/engine_troll</a
        >
      </h3>
      <h3>
        If you wanna have a more relaxed chat with users and developers, we have
        a Discord channel:
        <a href="https://discord.gg/ewwaSxv" target="_blank"
          >https://discord.gg/ewwaSxv</a
        >
      </h3>
      <h3>
        Any other concerns may be directed to:
        <a href="mailto:info@troll-engine.com" target="_blank"
          >info@troll-engine.com</a
        >
      </h3>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Home'
    };
  }
};
</script>
