<template>
  <v-layout column justify-center align-center>
    <v-flex>
      <h1 class="text-center">EARLY WORK - COME BACK LATER</h1>
      <div align="center">
        <p align="center">
          <img
            src="https://gitlab.com/troll-engine/troll-engine/raw/master/logo.svg"
            align="center"
            width="350"
            height="250"
            alt="Project icon"
          />
        </p>

        <blockquote>
          <p align="center">The best little game engine you've ever seen</p>
        </blockquote>

        <p align="center">
          <a
            href="https://gitlab.com/troll-engine/troll-engine/commits/master"
            alt="pipeline status"
            ><img
              src="https://gitlab.com/troll-engine/troll-engine/badges/master/pipeline.svg"
          /></a>
          <a
            href="https://gitlab.com/troll-engine/troll-engine/commits/master"
            alt="coverage report"
            ><img
              src="https://gitlab.com/troll-engine/troll-engine/badges/master/coverage.svg"
          /></a>
          <a href="https://www.npmjs.com/package/troll-engine" alt="version"
            ><img src="https://badgen.net/npm/v/troll-engine"
          /></a>
          <a href="https://www.npmjs.com/package/troll-engine" alt="license"
            ><img src="https://badgen.net/npm/license/troll-engine"
          /></a>
          <a href="https://www.npmjs.com/package/troll-engine" alt="downloads"
            ><img src="https://badgen.net/npm/dt/troll-engine"
          /></a>
          <a href="https://discord.gg/ewwaSxv" alt="discord"
            ><img
              src="https://discordapp.com/api/guilds/621750483098271745/widget.png"
          /></a>
        </p>
      </div>
      <div v-html="$md.render(readme)"></div>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Readme'
    };
  },
  data() {
    return {
      readme: `\`\`\`bash
# Install the engine locally:
npm i -s troll-engine
# Install your platforms, e.g. for Windows:
npm i -s @troll-engine/platform-windows
# Install plugins to give yourself more libraries to work with, at the very least Ogre3D is recommended:
npm i -s @troll-engine/plugin-ogre3d
\`\`\`

Troll Engine received its name from the core project it is based around: Ogre3D. This project aims to
simplify the process of making a cross platform project that utilizes fully native projects as templates
for generating a functioning project utilizing your project as a library for it.

Essentially, making a project for Troll Engine is a matter of creating the C++ source code for your proram
and then letting Troll Engine use it to generate the source files for the native project.

Troll Engine aims to offer lots of configuration options but does not aim to be a compiler of any sort.
It creates proper native projects that if compiled by other tools correctly will result in awesomeness.
You're still going to need to learn how to compile your project, and how to develop projects that utilize
the libraries you add using plugins.

While Troll Engine is being developed with expressed support for Ogre3D, it's not actually shipped with
Troll Engine by default. A

## Gettings started

  1. Run \`npm init @troll-engine\` and follow the instructions to generate your Troll Engine project
  2. Run \`npm run build:[platform]\` to build your project
  3. Run troll commands using \`npm run troll -- [arguments]\`

While you can install \`troll-engine\` globally to access it directly from the command line it's recommended
to install it locally for your project so you can have a project specific version for it. The only difference
between a global and a local installation is that you either run the \`troll\` command by either using
\`troll [args]\` or \`npm run troll -- [args]\`, but you get the benefit of versioning Troll Engine so your
code doesn't suddenly stop compiling, and all your developers will have the same version of the engine
installed.

## Commands

  - \`troll\` - Launches an interactive console for running the Troll Engine
  - \`troll --help\` - Shows help information
  - \`troll build [platform]\` - Generates your native platform project
  - \`troll compile [platform]\` - Compiles your project using commands known to function for us
  - \`troll start [platform]\` - Attempts to launch the compiled project

## Project structure

  - \`assets/\` Game assets, such as models, shaders, images etc
  - \`code/\` Game code
    - \`include/\` C++ header files
    - \`src/\` C++ source files
  - \`docs/\` Markdown documentation for your project, compatible with having your Gitlab/Github Wiki as a git submodule to here
  - \`platforms/\` Files to override or patch files generated by Troll Engine
    - \`android/\`
    - \`browser/\`
    - \`ios/\`
    - \`linux/\`
    - \`mac/\`
    - \`windows/\`
  - \`troll.config.js\` Config file for Troll Engine

## Base features

The base project without any plugins is intended to be an as minimal a project as possible, only really
giving you a way to easily generate native projects for your C++ code. The real magic of the Troll Engine
is when you add plugins to it.

## Platforms

  - \`@troll-engine/platform-android\`: Android native app with instant app capabilities
  - \`@troll-engine/platform-browser\`: A Nuxt based project with your project turned into WASM code
  - \`@troll-engine/platform-ios\`: Native C++ project
  - \`@troll-engine/platform-linux\`: Native C++ project compiled using GCC
  - \`@troll-engine/platform-mac\`: Native C++ project
  - \`@troll-engine/platform-windows\`: Native C++ project compiled using VS 2017

## Plugins

  - \`@troll-engine/plugin-ogre3d\` - Adds Ogre3D to your program
  - \`@troll-engine/plugin-lua\` - Adds Lua to your program
`
    };
  }
};
</script>
